*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(song1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.div1{
    font-size: 26px;
    margin-left: 10px;
    margin-top: 48px;
    padding: 8px;
    font-style:italic;
}
a{
    text-decoration: none;
    font-size: 45px;
    font-weight: 900;
    padding: 2vh;
    text-shadow: 2px 1px 1px black;
    color: black;
}
.music{
    margin-left: 910px;
    font-size: 75px;
    font-weight: 900;
    font-style: italic;
    margin-top: 25px;
    color:black;
    text-shadow: 2px 4px 3px black;
}

.play1{
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
    margin-left: 50px;
    align-items: center;
    display: flex;
    text-shadow: 3px 1px 1px black;
}
.tho{
    font-style: italic;
    font-weight: 900;
    margin-left: 5px;
    margin-bottom: 8%;
    font-size: 40px;
    line-height: 30px;
    word-spacing: 3px;
    margin-top: 25px;
    text-shadow: 2px 1px 1px;
    text-decoration: underline;
    
}